.button {
    outline: none;
    &_theme {
        &_rfprint {
            font-family: Futura PT;
            font-style: normal;
            font-size: 1rem;
            cursor: pointer;
            width: 320px;
            height: 40px;
            color: #419fe1;
            font-size: 18px;
            border-radius: 6px;
            border: 1px solid white;
        }
    }
    &_fast-form_blue {
        border: 1px solid #fff;
        border-radius: 35px;
        outline: none;
        background: #419fe1;
        color: #fff;
        padding: 10px 40px;
    }
    &_clear {
        background: none!important;
        border: none!important;
    }
    &_clear::before {
        background: none!important;
    }
    &_whiteblue {
        background: none;
        border: none;
        color: #419fe1;
    }
    &_center {
        display: block;
        margin: 0 auto;
    }
    &_order_blue {
        border: none;
        border-radius: 35px;
        outline: none;
        background: #419fe1;
        color: #fff;
        padding: 15px 50px;
        cursor: pointer;
    }
    &_padding_order {
        padding: 20px 0;
    }
}

#btn-order {
    background: #419fe1;
    border: none;
    border-radius: 35px 0 0 35px;
    cursor: pointer;
}

#btn-calculator {
    background: #fff000;
    border: none;
    border-radius: 0px 35px 35px 0;
    cursor: pointer;
}