.advantages {
    &__content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      @media screen and (max-width: 640px) {
        flex-direction: column;
      }
    }
    &__item{
      width: 20%;
      height: 130px;
      padding: 1% 4% 0% 4%;
      position: relative;
      background: #fff;
      @media screen and (max-width: 992px) {
        width: 30%;
        padding: 1% 1% 0% 1%;
      }
      @media screen and (max-width: 640px) {
        width: 98%;
        padding: 3% 1% 20% 1%;
        margin-bottom: 50px;
        height: auto;
      }
    }
}
