.select {
  &_theme{
    &_rfprint{
      outline: none;
      border-radius: 20px;
      padding: 10px 17px;
      font-size: 1rem;
      border: 1px solid #d9d9d9;
      color: #777;
      width: 239px;
    }
  }
}
.selected {
  &_theme{
    &_rfprint{
      outline: none;
      border-radius: 20px;
      padding: 9px 17px;
      font-size: 1rem;
      border: 1px solid #d9d9d9;
      color: #777;
      width: 237px;
    }
  }
}
