@import '../../node_modules/swiper/dist/css/swiper.min.css';

.carusel{
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 414px) {
      padding-top: 0px;
    }
  }
  .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 892px;
        height: 450px;
        @media screen and (max-width: 640px) {
          width: 640px;
          height: auto;
          .image{
            width: 100%;
          }
        }
        @media screen and (max-width: 414px) {
          width: 414px;
          height: auto;
          .image{
            width: 100%;
          }
        }
  }
}
.carusel{
  @media screen and (max-width: 640px) {
    padding-top: 1%;
  }
  .swiper-pagination-bullets{
    @media screen and (max-width: 640px) {
      bottom: 14%;
    }
  }
  .swiper-pagination-bullet{
    width: 68px;
    border-radius: 6px;
    @media screen and (max-width: 640px) {
      width: 38px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    background: #419fe1;
    border-radius: 100%;
    @media screen and (max-width: 640px) {
      top:auto;
      bottom: 10%;
    }
  }
  .swiper-button-next{
    right: 10%;
    width: 30px;
    height: 35px;
    padding: 10px 0 0 15px;
    @media screen and (max-width: 640px) {
      right: 2%;
    }
  }
   .swiper-button-prev{
    left: 10%;
    width: 35px;
    height: 35px;
    padding: 10px 0px 0px 10px;
    @media screen and (max-width: 640px) {
      left: 2%;
    }
   }
}
